* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #191919;
    font-family: Helvetica, sans-serif;
  }

/* Meny > */
header {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-evenly;
    font-size: 1rem;
    height: 70px;
    background: #191919;
    width: 100%;
}


nav {
    display: none;
    position: fixed;
    top: 70px;
    background: #191919;
    z-index: 300;
    width: 100%;
    text-align: center;
}

nav a {
    padding: 20px;
}

/* Fjerne underline på alle linker*/
a {
    text-decoration: none;
}

/* Hamburger meny for mobil versjon*/
.fa-bars {
    color: white;
    font-size: 30px;
}

#hamburger-menu {
    display: none;
    margin: 10px;
}

#hamburger-menu:checked ~ nav {
    display: block;
}

nav ul {
    padding: 0px;
}

nav li {
    display: block;
    padding: 20px 30px;
    font-family: 'PT Serif', serif;
    font-size: 1.1rem;
}

.logo {
    width: 200px;
    list-style: none;
    margin-left: 20px;
}

/* Sette underline på aktiv side*/
.action {
    text-decoration: none;
    color: white;
    background-color: #ff4f4f;
    padding: 20px;
}

header a {
    color: white;
}

header a:hover {
    color:white;
    padding: 20px;
    background-color: #ff4f4f;
}

/* Første seksjon */
.section-frontpage {
    background-color: white;
    display: grid;
    grid-template-columns: auto;
    min-height: 500px;
}

.fp-txt {
    text-align: center;
}

.fp-img {
    justify-content: center;
    margin-left: 20px;
    margin-top: auto;
    margin-bottom: 50px;
}

h1 {
    margin-top: 50px;
    font-size: 4em;
    font-weight: bold;
    font-family: 'PT Serif', serif;
}

.frontpage-header {
    font-size: 5em;
    font-family: 'PT Serif', serif;
    font-weight: bold;
}

.frontpage-text {
    font-size: 2em;
    margin-top: 10px;
    font-family: 'PT Serif', serif;
}

/*Buttons i første seksjon */
.btn-black {
    color: black;
}

.btn-white {
    color: white;
}

.fp-btns {
    margin-top: 30px;
}

.btn-project {
    padding: 20px;
    border: 2px solid #ff4f4f;
    background-color: white;
    width: 180px;
    font-size: 1.1rem;
    font-family: 'PT Serif', serif;
    font-weight: bold;
}

.btn-contact {
    padding: 20px;
    background-color: #ff4f4f;
    border: none;
    color: white;
    width: 170px;
    font-size: 1.1rem;
    margin-top: 10px;
    font-family: 'PT Serif', serif;
    font-weight: bold;
}

.fp-img {
    text-align: center;
}

/* Portrett bilde */
.portrett {
    max-width: 300px;
    max-height: 300px;
    object-fit: cover;
    margin-top: 40px;
}


/*CV SEKSJON MED TIDSLINJE */
.CV-header {
    color: white;
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    margin-top: 30px;
}

/* The actual timeline (the vertical ruler) */
.timeline-header {
    color: white;
    font-size: 3rem;
    margin: 40px;
}

.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  /* The actual timeline (the vertical ruler) */
  .timeline::after {
    content: '';
    position: absolute;
    width: 8px;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
  }
  
  /* Container around content */
  .container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
  }
  
  /* The circles on the timeline */
  .container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 6px solid #ff4f4f;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
  }
  
  /* Place the container to the left */
  .left {
    left: 0;
  }
  
  /* Place the container to the right */
  .right {
    left: 50%;
  }
  
  /* Add arrows to the left container (pointing right) */
  .left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent #ff4f4f;
  }
  
  /* Add arrows to the right container (pointing left) */
  .right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent #ff4f4f transparent transparent;
  }
  
  /* Fix the circle for containers on the right side */
  .right::after {
    left: -16px;
  }
  
  /* The actual content */
  .txt-bubble {
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;
  }


/* Footer */
footer {
    background-color: #191919;
    height: 200px;
    width: 100%;
    display: grid;
    grid-template-columns: auto;
    text-align: center;
    justify-content: center;
}

.footer-guid {
    display: grid;
    grid-template-columns: auto;
    text-align: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.footer-header {
    font-size: 1.8rem;
    font-weight: 500;
    color: white;
    margin: 20px;
}

.footer-txt {
    color: white;
    font-size: 1.3rem;
    margin-bottom: 50px;
}

.footer-link {
    color: white;
}

  

  /*Responsiv tidslinje på skjermer som er MINDRE enn 600px i width */
  @media screen and (max-width: 600px) {
    /* Plassere tidslinjen til siden */
    .timeline::after {
    left: 31px;
    }
    
    /* Full bredde container */
    .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
    }
    
    /* Pilene  */
    .container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
    }
  
    /* Sirklene  */
    .left::after, .right::after {
    left: 15px;
    }
    
    /* Høyre stilte containerne tilbake til slik venstre er */
    .right {
    left: 0%;
    }
  } 


  @media (min-width: 421px) {
      /*Første seksjon knapper */
    .btn-project {
        margin-right: 5px;
    }
    
    .btn-contact {
        margin-left: 5px;
        margin-top: 10px;
    }
  }

  @media (max-width: 720px) {
      .timeline-header{
          font-size: 1.5em;
      }
  }

  @media (min-width: 855px) {
    /* Første seksjon */
    .section-frontpage {
        display: grid;
        grid-template-columns: auto auto;
    }

    .fp-txt {
        max-width: 500px;
        margin: auto;
        text-align: left;
    }


    /* Portrett bilde */
    .portrett {
        width: 300px;
        height: 300px;
        object-fit: cover;
        margin-top: 40px;
    }

}


/*DESKTOP VERSION*/
@media (min-width: 855px) {
    /*Gjøre meny desktop vennlig (fjerne hamburger) */
    header {
        justify-content: start;
    }
 
    nav {
        display: block;
        position: static;
        width: 100%;
    }
 
    nav li {
        display: inline-block;
        padding: 0px;
    }

    nav ul {
        float: right;
    }
 
    header label {
        display: none;
    }

    /* Responsiv footer*/
    .footer-guid {
        grid-template-columns: auto auto auto auto;
    }

    .footer-header {
        margin: 30px;
    }
 }

 /*Endre størrelse på tekster når skjerm er mindre enn 1050px; */
 @media (max-width: 1050px) {
    h1 {
        margin-top: 50px;
        font-size: 3em;
        font-weight: 500;
    }
    
    .frontpage-header {
        font-size: 4.5em;
    }
    
    .frontpage-text {
        font-size: 1.5em;
    }

    .timeline-header {
        font-size: 2em;
    }
 }