h1 {
    text-align: center;
    color: white;
    margin-top: 50px;
    margin-bottom: 40px;
    font-size: 3em;
}


/*Project box */
.project-box {
    max-width: 900px;
    min-height: 400px;   
    margin: 0 auto;
    margin-top: 50px;
    background-color: #CCCCCC;
    border: 4px solid #ff4f4f;
}

.project-content {
    display: grid;
    grid-template-columns: auto;
}

/* Prosjekt bilde */
.project-img-div {
    text-align: center;
}

.project-img {
    width: 250px;
    height: 200px;
    object-fit: cover;
    margin-top: 40px;
}

.align-img {
    margin-bottom: 40px;
}

.project-txt {
    margin-top: 20px;
}

.project-txt > h2 {
    padding: 20px;
    text-align: center;
}

.project-txt > p {
    padding: 20px;
}

.nth {
    margin-left: 50px;
}

/*Les mer knapp */
.align-readmore-btn {
    text-align: center;
    margin-bottom: 20px;
}

.btn-readmore {
    padding: 15px;
    background-color: #ff4f4f;
    border: #ff4f4f;
    color: white;
    width: 170px;
    font-size: 1.1rem;
    margin-top: 10px;
}


/*RESPONSIV SIDE */
@media (min-width: 855px) {
    .project-content {
        grid-template-columns: auto auto;
    }

        /* Portrett bilde */
        .project-img {
            width: 400px;
            height: 300px;
            object-fit: cover;
            margin-top: 40px;
        }

        .img-align {
            margin-left: 40px;
        }

        .align-img {
            margin-right: 40px;
        }

        .project-txt > h2 {
            padding: 20px;
            text-align: left;
        }

        /*Les mer knapp */
        .align-readmore-btn {
            text-align: left;
            margin-left: 20px;
        }
}